    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }
    
  a{
    text-decoration: none;
  }

    :root {
      --brand-color: #2196F3;
      --primary-background-color: #FFFFFF;
    }

    .list {
      list-style: none;
      padding-left: 0px;
    }

    body {
      font-family:'Roboto',
        sans-serif;
      background-color: #FFFFFF;
      color: #212121;
    }
    /*центрування основного контенту*/

      .container{
          width: 1230px;
        margin: auto;
      padding: 0 15px;

        
        }

  /*частина логотипу (Web)*/
      .accent {
        font-family:'Raleway',sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        display: inline-block;
        letter-spacing: 0.03em;
        color:var(--brand-color);
      }

  /* інша частина логотипу (studio)*/
    .logo{
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      margin-left: 15px;
        margin-top: 24px;
      letter-spacing: 0.03em;

      color: #212121;
    }

    /* стилізація навгації*/
   .menu-link a{
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
  display: block;
      color: inherit;
    }

    /*псевдокласи стану навігації*/
    .list a:hover,
    .list a:focus{
      color: var(--brand-color);
    }

    /*ел.пошта, номер телефону*/
    .contact-list a{
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: #757575;
    }

    .contact-list .link:hover,
    .contact-list .link:focus{
      color: var(--brand-color);
    }

    /* секція "герой"*/
    .section-title {
      background-color: #2F303A;
    }

    /*головний заголовок h1*/
    .section-title .title {
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      /* or 136% */

      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      text-align: center;
      color: #FFFFFF;
      ;
    }

    /*кнопка "заказать услугу"*/
    .btn{
      background-color: var(--brand-color);
      font-weight: 700;
      font-size: 16px;
      line-height: 1.8;
      min-width: 200px;
      min-height: 50px;
      padding: 10px 32px;
      align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
      color: #FFFFFF;
      display: inline-block;
      border: 1px solid var(--brand-color) ;
      border-radius: 4px;
    }

    .btn:hover,
    .btn:focus{
      background-color: #188CE8;
    }

    /*h3 характеристики компанії*/
    .description-title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 10px;
      

      color: #212121;
    }

     /*текст характеристики*/
    .description {
      font-size: 14px;
      line-height: 1.7;
      padding-left: 0px;
      margin: 0px;
      letter-spacing: 0.03em;
      color: #757575;
    }

    /*заголовки h2*/
    .title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.16px;
      text-align: center;
      letter-spacing: 0.03em;

      color: #212121;
      
    }

    .worker-name {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.18px;
        margin-bottom: 10px;

      text-align: center;
      letter-spacing: 0.03em;

      color: #212121;
    }

    .team-worker {
      font-size: 16px;
      line-height: 1.18;
    margin-top: 0px;
    margin-bottom: 0px;

      text-align: center;
      letter-spacing: 0.03em;

      color: #757575;
    }

    .footer {
      background-color: #2F303A;
      height: 252px;
      padding: 60px;
    }

    .footer .logo {
      color: #FFFFFF;
    }

    .address {
      color: #FFFFFF;
      font-size: 14px;
      line-height: 1.71;
      margin-bottom: 9px;
      display: inline-block;

      letter-spacing: 0.03em;
    }
    .contacts{
      display: inline-block;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: #757575;
      margin-bottom: 9px;
    }
    .contacts:hover,
    .contacts:focus{
      color: var(--brand-color);
    }
    .button-filter{
      background-color:#F5F4FA;
      font-size: 16px;
      line-height: 1.62;
      /* identical to box height, or 162% */
      
      text-align: center;
      letter-spacing: 0.03em;
    }
    .button-filter:hover,
    .button-filter:focus{
      background-color: var(--brand-color);
      color: #FFFFFF;
    }
    .project-name{
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      /* identical to box height, or 200% */
      
      letter-spacing: 0.06em;
      
      color: #212121;
    }
    .project-type{
      font-size: 16px;
      line-height: 1.87;
      /* identical to box height, or 188% */
      
      letter-spacing: 0.03em;
      
      color: #757575;
    }
    .project-description{
      font-size: 18px;
      line-height: 1.55;
      /* or 156% */
      
      letter-spacing: 0.03em;
    }
    .button{
    cursor: pointer;
    }

    h1,
    h2,
    h3 {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .title-services{
      margin-bottom: 50px;
    }
    .title-team{
      margin-bottom: 50px;
    }
    .logo-footer{
      margin-bottom: 20px;
    }
  .team-block{
    margin-bottom: 94px;
  }
  .header{
    margin-top: 24px;
    margin-bottom: 25px;
  }
  .project-list{
    padding-left: 0;
  }